/* Estilo página de contato */

.main-content {
    padding-top: 120px;
}

.form-section {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 30px 20px;
}

.form-section h2 {
    color: #e50914;
    margin-bottom: 10px;
    font-size: 26px;
}

.form-section p {
    color: #ccc;
    font-size: 16px;
    margin-bottom: 25px;
}

.contato-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato-form label {
    text-align: left;
    font-size: 15px;
    color: #eee;
}

.contato-form input,
.contato-form select,
.contato-form textarea {
    width: 100%;
    padding: 10px;
    background: #1b1b1b;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

.contato-form input:focus,
.contato-form select:focus,
.contato-form textarea:focus {
    outline: none;
    border-color: #e50914;
}

.btn-enviar {
    background: #e50914;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

.btn-enviar:hover {
    opacity: 0.85;
}


/* Menu ativo */

.navbar nav a.ativo {
    color: #fff;
    font-weight: bold;
}